registry: "https://registry.npmmirror.com/"
node_mirror: "https://npmmirror.com/mirrors/node/"
chrome_mirror: "https://npmmirror.com/mirrors/chromedriver/"
electron_mirror: "https://npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR: "https://npmmirror.com/mirrors/electron-builder-binaries/"
grpc_node_binary_host_mirror: "https://npmmirror.com/mirrors"

always-auth: false
strict-peer-dependencies: false
auto-install-peers: true
strict-ssl: false
